<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="sr-corner-tla" attributes="arena corner">
    <template>
        <style>
            h1 {
                font-family: sans-serif;
                font-size: 5em;
                color: white;
            }
        </style>

        <h1>{{ text }}</h1>
    </template>

    <script>
        Polymer({
            stream: null,
            streamChanged: function() {
                this.stream.addEventListener('match', function(e) {
                    var match = null;
                    for (var i = 0; i < e.detail.length; i++) {
                        if (e.detail[i].arena == this.arena) {
                            match = e.detail[i];
                        }
                    }

                    this.text = match.teams[this.corner];
                }.bind(this));
            }
        });
    </script>
</polymer-element>
