<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-corner/component.html" />
<link rel="import" href="../sr-schedule/component.html" />
<link rel="import" href="../sr-clock/component.html" />
<link rel="import" href="../sr-delay/component.html" />

<polymer-element name="sr-shepherding" attributes="arena">
    <template>
        <style>
            :host {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                align-items: center;
                -webkit-align-items: center;
            }

            #schedule {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;

                margin: 1em;

                overflow-y: auto;
            }

            #time {
                flex: 0 0 auto;
                -webkit-flex: 0 0 auto;

                width: 100%;

                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
            }

            sr-clock, sr-delay {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;

                text-align: center;

                margin: 0.1em;
                font-size: 3.6em;
            }
        </style>

        <sr-schedule id="schedule" back="1" forward="15"></sr-schedule>

        <div id="time">
            <sr-clock></sr-clock>
            <sr-delay id="delay"></sr-delay>
        </div>
    </template>

    <script>
        Polymer({
            comp: null,
            compChanged: function() {
                this.$.schedule.comp = this.comp;
                this.$.delay.comp = this.comp;
            }
        });
    </script>
</polymer-element>
