<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-corner/component.html" />
<link rel="import" href="../sr-schedule/component.html" />
<link rel="import" href="../sr-clock/component.html" />
<link rel="import" href="../sr-delay/component.html" />

<polymer-element name="sr-shepherding" attributes="arena">
    <template>
        <style>
            :host {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                align-items: center;
                -webkit-align-items: center;
            }

            #schedule {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;

                margin: 1em;

                overflow-y: auto;
            }

            #corners {
                flex: 0 0 auto;
                -webkit-flex: 0 0 auto;

                width: 100%;

                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
            }

            #corners > sr-corner {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
            }

            #time {
                flex: 0 0 auto;
                -webkit-flex: 0 0 auto;

                width: 100%;

                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
            }

            sr-clock {
                text-align: right;
            }

            sr-clock, sr-delay {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;

                margin: 0.1em;
                font-size: 3.6em;
            }
        </style>

        <div id="corners">
            <sr-corner show="tla" corner="0" id="corner0"></sr-corner>
            <sr-corner show="tla" corner="1" id="corner1"></sr-corner>
            <sr-corner show="tla" corner="2" id="corner2"></sr-corner>
            <sr-corner show="tla" corner="3" id="corner3"></sr-corner>
        </div>

        <sr-schedule id="schedule"
                     back="1" forward="15"
                     headings="false"></sr-schedule>

        <div id="time">
            <sr-clock></sr-clock>
            <sr-delay id="delay"></sr-delay>
        </div>
    </template>

    <script>
        Polymer({
            comp: null,
            arena: null,
            arenaChanged: function() {
                this.$.schedule.onlyarena = this.arena;

                for (var i = 0; i < 4; i++) {
                    this.$['corner' + i].arena = this.arena;
                }
            },
            compChanged: function() {
                this.$.schedule.comp = this.comp;

                for (var i = 0; i < 4; i++) {
                    this.$['corner' + i].comp = this.comp;
                }

                this.$.delay.comp = this.comp;
            }
        });
    </script>
</polymer-element>
