<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="sr-corner-team" attributes="arena corner show">
    <template>
        <style>
            h1, h2 {
                font-family: sans-serif;
                color: white;
                margin: 0;
                text-align: center;
            }

            h1 {
                font-size: 8em;
            }

            h2 {
                font-size: 5em;
                margin-top: 0.05em;
            }
        </style>

        <h1 id="tla">{{ tla }}</h1>

        <template if="{{ show == 'all' }}">
            <h2 id="name">{{ name }}</h2>
        </template>
    </template>

    <script>
        var updateFromMatchList = function(matchList) {
            var match = null;
            for (var i = 0; i < matchList.length; i++) {
                if (matchList[i].arena == this.arena) {
                    match = matchList[i];
                }
            }

            if (match == null) {
                // no current match
                this.tla = '';
                this.name = '';
            } else {
                this.tla = match.teams[this.corner];
                if (this.tla == null) {
                    this.tla = '—';
                    this.name = '';
                } else {
                    this.comp.api.getTeam(this.tla, function(team) {
                        this.name = team.name;
                    }.bind(this));
                }
            }
        };
        var reload = function() {
            if (this.comp == null || this.arena == null || this.corner == null) {
                return;
            }
            var receivedEvent = false;
            var update = updateFromMatchList.bind(this);
            this.comp.api.getCurrentMatches(function(matches) {
                if (!receivedEvent) {
                    update(matches);
                }
            });
            this.comp.stream.addEventListener('match', function(e) {
                receivedEvent = true;
                update(e.detail);
            });
        };
        Polymer({
            comp: null,
            compChanged: reload,
            arenaChanged: reload,
            cornerChanged: reload
        });
    </script>
</polymer-element>
