<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-comp-api/component.html" />
<link rel="import" href="../sr-comp-stream/component.html" />

<polymer-element name="sr-comp" attributes="apiurl streamurl">
    <template>
        <style>
            #error {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
                z-index: 100000000000;
            }

            #error h1 {
                position: absolute;
                margin: 0;
                right: 1em;
                bottom: 1em;
                font-family: monospace;
                font-size: 2em;
                color: rgb(200, 200, 200);
            }
        </style>

        <sr-comp-api id="api" url="{{ apiurl }}"></sr-comp-api>
        <sr-comp-stream id="stream" url="{{ streamurl }}"></sr-comp-stream>

        <aside id="error">
            <h1>Lost connection. Please wait…</h1>
        </aside>
    </template>

    <script>
        Polymer({
            connected: false,
            apiurl: '{protocol}//{host}/comp-api',
            streamurl: '{protocol}//{hostname}:5001',
            ready: function() {
                this.api = this.$.api;
                this.stream = this.$.stream;
                this.stream.addEventListener('open', function() {
                    this.connected = true;
                }.bind(this));
                this.stream.addEventListener('error', function() {
                    this.connected = false;
                }.bind(this));
                // This isn't probably necessary, but clear the API cache
                // anyway whenever we hear anything from the stream.
                var clearCache = this.api.clearCache.bind(this.api);
                this.stream.addEventListener('team', clearCache);
                this.stream.addEventListener('match', clearCache);
                this.stream.addEventListener('knockouts', clearCache);
            },
            connectedChanged: function() {
                this.$.error.hidden = this.connected;
            }
        });
    </script>
</polymer-element>
