<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-comp-api/component.html" />
<link rel="import" href="../sr-comp-stream/component.html" />

<polymer-element name="sr-comp" attributes="apiurl streamurl">
    <template>
        <style>
            #error {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
                z-index: 100000000000;

                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
                align-items: center;
                -webkit-align-items: center;
                justify-content: center;
                -webkit-justify-content: center;
            }

            #error h1 {
                position: absolute;
                margin: 0;
                right: 1em;
                bottom: 1em;
                font-family: monospace;
                font-size: 2em;
                color: rgb(200, 200, 200);
            }
        </style>

        <core-ajax
          auto
          url="../../config.json"
          handleAs="json"
          on-core-response="{{ gotUrls }}"></core-ajax>

        <sr-comp-api id="api" url="{{ apiurl }}"></sr-comp-api>
        <sr-comp-stream id="stream" url="{{ streamurl }}"></sr-comp-stream>

        <aside id="error">
            <content></content>
            <h1>No connection. Please wait…</h1>
        </aside>
    </template>

    <script>
        Polymer({
            connected: false,
            apiurl: undefined,
            streamurl: undefined,
            pingTimeout: undefined,
            ready: function() {
                this.api = this.$.api;
                this.stream = this.$.stream;
                this.stream.addEventListener('open', function() {
                    this.connected = true;
                    this.startPingTimeout();
                }.bind(this));
                this.stream.addEventListener('close', function() {
                    this.connected = false;
                    this.cancelPingTimeout();
                }.bind(this));
                // This isn't probably necessary, but clear the API cache
                // anyway whenever we hear anything from the stream.
                var clearCache = this.api.clearCache.bind(this.api);
                this.stream.addEventListener('team', clearCache);
                this.stream.addEventListener('match', clearCache);
                this.stream.addEventListener('knockouts', clearCache);
                this.stream.addEventListener('last-scored-match', clearCache);

                this.stream.addEventListener('ping', function(e) {
                    this.cancelPingTimeout();
                    this.startPingTimeout(e.detail);
                }.bind(this));
            },
            cancelPingTimeout: function() {
                console.log('Cancelling pending ping disconnect.');
                clearTimeout(this.pingTimeout);
                this.pingTimeout = null;
            },
            registerPingTimeout: function(delay) {
              if (this.pingTimeout !== null) {
                  return;  // Timeout set by something else.
              }

              console.log('Registering a disconnect in', delay, 'seconds.');
              this.pingTimeout = setTimeout(function() {
                  this.stream.close();
              }.bind(this), delay);
            },
            startPingTimeout: function(delay) {
                var multiplier = 4;

                if (delay === undefined) {
                    this.api.getConfig(function(config, err) {
                        var d = err ? 1 : config['ping_period'] * multiplier;
                        this.registerPingTimeout(d * 1000);
                    }.bind(this));
                } else {
                    this.registerPingTimeout(delay * multiplier);
                }
            },
            connectedChanged: function() {
                this.$.error.hidden = this.connected;
            },
            gotUrls: function(e) {
                var urls = e.detail.response;
                this.apiurl = urls.apiurl;
                this.streamurl = urls.streamurl;
            }
        });
    </script>
</polymer-element>
