<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-corner-clock/component.html" />
<link rel="import" href="../sr-corner-clock-countdown/component.html" />
<link rel="import" href="../sr-corner-match/component.html" />
<link rel="import" href="../sr-corner-team/component.html" />

<polymer-element name="sr-corner" attributes="arena corner stream show">
    <template>
        <style>
            :host {
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
            }

            .bar {
                flex: 0 0 auto;
                -webkit-flex: 0 0 auto;

                width: 15%;
                background: {{ colour }};
            }

            main {
                flex: 1 1 auto;
                -webkit-flex: 1 1 auto;

                background: black;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                align-items: center;
                -webkit-align-items: center;
                justify-content: center;
                -webkit-justify-content: center;
            }
        </style>

        <aside class="bar"></aside>

        <main id="main">
            <template if="{{ show == 'all' }}">
                <sr-corner-match id="match"></sr-corner-match>
                <sr-corner-team id="team" corner="{{ corner }}" show="all"></sr-corner-team>
                <sr-corner-clock id="clock"></sr-corner-clock>
                <sr-corner-clock-countdown id="clock-countdown"></sr-corner-clock-countdown>
            </template>

            <template if="{{ show == 'tla' }}">
                <sr-corner-team id="team" corner="{{ corner }}" show="tla"></sr-corner-team>
            </template>
        </main>

        <aside class="bar"></aside>
    </template>

    <script>
        var reload = function() {
            if (this.comp == null || this.corner == null || this.arena == null) {
                return;
            }

            this.comp.api.getCorner(this.corner, function(corner) {
                this.colour = corner.colour;

                // Polymer Polyfill cannot bind variables in the CSS.
                var bars = this.shadowRoot.querySelectorAll('.bar');
                for (var i = 0; i < bars.length; i++) {
                    bars[i].style.backgroundColor = this.colour;
                }
            }.bind(this));

            this.$.team.comp = this.comp;

            this.comp.stream.addEventListener('match', function(e) {
                var matches = e.detail.filter(function(match) {
                    return match.arena === this.arena;
                }.bind(this));

                if (matches.length) {
                    this.match = matches[0];
                } else {
                    this.match = null;

                    this.comp.api.getUpcomingMatches(this.arena, function(matches) {
                        // only update if we haven't since updated the match
                        if (this.match == null && matches.length) {
                            this.match = matches[0];
                        }
                    }.bind(this));
                }
            }.bind(this));

            this.comp.stream.addEventListener('knockouts', function() {
                if (this.match) {
                    this.comp.api.getMatch(this.arena, this.match.num, function(matches) {
                        this.match = matches[0];
                    }.bind(this));
                } else {
                    this.comp.api.getUpcomingMatches(this.arena, function(matches) {
                        this.match = matches[0];
                    }.bind(this));
                }
            }.bind(this));
        };
        Polymer({
            comp: null,
            compChanged: reload,
            arenaChanged: reload,
            cornerChanged: reload,
            match: undefined,
            matchChanged: function() {
                if (this.$.match) {
                    this.$.match.match = this.match;
                }

                this.$.team.match = this.match;

                if (this.$.clock) {
                    this.$.clock.match = this.match;
                }

                if (this.$['clock-countdown']) {
                    this.$['clock-countdown'].match = this.match;
                }

                if (this.match) {
                    var tla = this.match.teams[this.corner];
                    this.comp.api.getTeam(tla, function(team) {
                        if (team.image_url) {
                            this.$.main.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + team.image_url + ')';
                        } else {
                            this.$.main.style.backgroundImage = null;
                        }
                    }.bind(this));
                } else {
                    this.$.main.style.backgroundImage = null;
                }

                this.fire('match', this.match);
            }
        });
    </script>
</polymer-element>
