<link rel="import" href="../../bower_components/polymer/polymer.html" />

<link rel="import" href="../sr-corner-tla/component.html" />
<link rel="import" href="../sr-corner-clock/component.html" />
<link rel="import" href="../sr-corner-match/component.html" />

<polymer-element name="sr-corner" attributes="arena corner stream">
    <template>
        <style>
            :host {
                display: flex;
                flex-direction: row;
            }

            .bar {
                flex: 0 0 auto;
                width: 20%;
                background: {{ colour }};
            }

            main {
                flex: 1 1 auto;
                background: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
            }

            h1, h2 {
                color: white;
            }
        </style>

        <aside class="bar"></aside>

        <main>
            <sr-corner-tla id="tla" arena="{{ arena }}" corner="{{ corner }}"></sr-corner-tla>
            <sr-corner-match id="match" arena="{{ arena }}" corner="{{ corner }}"></sr-corner-match>
            <sr-corner-clock id="clock" arena="{{ arena }}"></sr-corner-clock>
        </main>

        <aside class="bar"></aside>
    </template>

    <script>
        Polymer({
            comp: null,
            compChanged: function() {
                this.comp.api.getCorner(this.corner, function(corner) {
                    this.colour = corner.colour;
                }.bind(this));

                this.$.tla.stream = this.comp.stream;
                this.$.clock.stream = this.comp.stream;
                this.$.match.stream = this.comp.stream;
            }
        });
    </script>
</polymer-element>
