<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="sr-corner" attributes="corner stream">
    <template>
        <style>
            :host {
                display: flex;
                flex-direction: row;
            }

            .bar {
                flex: 0 0 auto;
                width: 20%;
                background: {{ colour }};
            }

            main {
                flex: 1 1 auto;
                background: black;
            }
        </style>

        <aside class="bar"></aside>

        <main>
            <content></content>
        </main>

        <aside class="bar"></aside>
    </template>

    <script>
        Polymer({
            stream: null,
            api: null,
            apiChanged: function() {
                this.api.getCorner(this.corner, function(corner) {
                    this.colour = corner.colour;
                }.bind(this));
            },
            streamChanged: function(oldValue, newValue) {

            }
        });
    </script>
</polymer-element>
