<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../sr-clock-pulse/component.html" />

<polymer-element name="sr-corner-clock" attributes="match">
    <template>
        <style>
            h1 {
                font-family: sans-serif;
                font-size: 6em;
                color: white;
                text-align: center;
            }
        </style>

        <h1>{{ text }}</h1>

        <sr-clock-pulse id="pulses"></sr-clock-pulse>
    </template>

    <script>
        Polymer({
            match: undefined,
            currentGameStart: undefined,
            currentGameEnd: undefined,
            text: '',
            ready: function() {
                this.updateDisplay({detail: new Date()});
                this.$.pulses.addEventListener('pulse', this.updateDisplay.bind(this));
            },
            matchChanged: function() {
                if (this.match) {
                    this.currentGameStart = new Date(this.match.times.game.start);
                    this.currentGameEnd = new Date(this.match.times.game.end);
                } else {
                    this.currentGameStart = null;
                    this.currentGameEnd = null;
                }
            },
            pad: function(value) {
                var num = parseInt(value, 10);
                return num < 10 ? "0" + num : num.toString();
            },
            formatTimeDelta: function(delta) {
                var prefix = "";
                if (delta < 0) {
                    delta = -delta;
                    prefix = "Starting in ";
                }

                var minutesLeft = parseInt(delta / 60, 10);
                var secondsLeft = delta - parseInt(delta / 60, 10) * 60;
                return prefix + minutesLeft + ":" + this.pad(secondsLeft);
            },
            updateDisplay: function(e) {
                var currentTime = e.detail;
                var gameStartTime = this.currentGameStart;
                var gameEndTime = this.currentGameEnd;

                if (gameStartTime == null || gameEndTime == null) {
                    this.text = '';
                } else if (currentTime >= gameEndTime) {
                    // next slot starting in 0-30 seconds
                    this.text = 'Finished';
                } else if (currentTime >= gameStartTime) {
                    // game ending in 0-180 seconds
                    var t = (gameEndTime - currentTime) / 1000;
                    this.text = this.formatTimeDelta(t);
                } else if (currentTime <= gameStartTime) {
                    // game starting in 0-90 seconds
                    var t = (gameStartTime - currentTime) / 1000;
                    this.text = this.formatTimeDelta(-t);
                }
            }
        });
    </script>
</polymer-element>
