<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../sr-clock-pulse/component.html" />

<polymer-element name="sr-corner-clock" attributes="arena">
    <template>
        <style>
            h1 {
                font-family: sans-serif;
                font-size: 6em;
                color: white;
                text-align: center;
            }

            .big {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: black;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .big h1 {
                font-size: 20em;
                color: white;
            }
        </style>

        <h1>{{ text }}</h1>

        <div class="big" hidden?="{{ !bigText }}">
            <h1>{{ bigText }}</h1>
        </div>

        <sr-clock-pulse id="pulses"></sr-clock-pulse>
    </template>

    <script>
        Polymer({
            stream: null,
            currentGameStart: null,
            currentGameEnd: null,
            ready: function() {
                this.updateDisplay();
                this.$.pulses.addEventListener('pulse', this.updateDisplay.bind(this));
            },
            streamChanged: function() {
                this.stream.addEventListener('match', function(e) {
                    var match = null;
                    for (var i = 0; i < e.detail.length; i++) {
                        if (e.detail[i].arena == this.arena) {
                            match = e.detail[i];
                        }
                    }

                    this.currentGameStart = new Date(match.times.game.start);
                    this.currentGameEnd = new Date(match.times.game.end);
                }.bind(this));
            },
            pad: function(value) {
                var num = parseInt(value, 10);
                return num < 10 ? "0" + num : num.toString();
            },
            formatTimeDelta: function(delta) {
                var prefix = "";
                if (delta < 0) {
                    delta = -delta;
                    prefix = "Starting in ";
                }

                var minutesLeft = parseInt(delta / 60, 10);
                var secondsLeft = delta - parseInt(delta / 60, 10) * 60;
                return prefix + minutesLeft + ":" + this.pad(secondsLeft);
            },
            updateDisplay: function() {
                var currentTime = new Date();
                var gameStartTime = this.currentGameStart;
                var gameEndTime = this.currentGameEnd;

                if (currentTime >= gameEndTime) {
                    // next period starting in 0-30 seconds
                    this.text = 'Finished';
                    this.bigText = null;
                } else if (currentTime >= gameStartTime) {
                    // game ending in 0-180 seconds
                    var t = (gameEndTime - currentTime) / 1000;
                    this.text = this.formatTimeDelta(t);
                    this.bigText = null;
                } else if (currentTime <= gameStartTime) {
                    // game starting in 0-90 seconds
                    var t = (gameStartTime - currentTime) / 1000;
                    this.text = this.formatTimeDelta(-t);

                    if (t < 1) {
                        this.bigText = 'Begin!'
                    } else if (t <= 6) {
                        this.bigText = parseInt(t);
                    }
                }
            }
        });
    </script>
</polymer-element>
