<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="sr-comp-api" attributes="url">
    <script>
        Polymer({
            _apiCall: function(path, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', this.url + path);
                xhr.responseType = 'json';
                xhr.onload = function(e) {
                    callback(xhr.response);
                };
                xhr.send();
            },
            getArenas: function(callback) {
                this._apiCall('/arenas', function(response) {
                    callback(response.arenas);
                });
            },
            getCorner: function(index, callback) {
                this._apiCall('/corners/' + index, callback);
            },
            getCorners: function(callback) {
                this._apiCall('/corners', function(response) {
                    callback(response.corners);
                });
            },
            getTeam: function(tla, callback) {
                this._apiCall('/teams/' + tla, callback);
            },
            getMatches: function(startTime, endTime, callback) {
                var url = ('/matches?game_start_time=' +
                           encodeURIComponent(startTime) +
                           '..' +
                           encodeURIComponent(endTime));
                this._apiCall(url, function(response) {
                    callback(response.matches);
                });
            }
        });
    </script>
</polymer-element>
