<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="sr-comp-stream" attributes="url">
    <script>
        Polymer({
            attached: function() {
                this.eventSource = new EventSource(this.url);

                this.eventSource.addEventListener('match', function(e) {
                    this.fire('match', JSON.parse(e.data));
                }.bind(this));

                this.eventSource.addEventListener('team', function(e) {
                    this.fire('team', JSON.parse(e.data));
                }.bind(this));

                this.eventSource.addEventListener('knockout', function(e) {
                    this.fire('knockout', JSON.parse(e.data));
                }.bind(this));

                this.eventSource.addEventListener('error',
                    this.fire.bind(this, 'error'));

                this.eventSource.addEventListener('open',
                    this.fire.bind(this, 'open'));
            }
        });
    </script>
</polymer-element>
