<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../natural-sort/component.html" />

<polymer-element name="sr-scores">
    <template>
        <style>
            :host {
                display: block;
                font-size: 1.4em;
            }

            table {
                padding: 1em;
            }

            td, th {
                padding: 0.3em 0.4em;
            }

            #last-scored {
                width: 50%;
                margin: 1em auto 0 auto;
                text-align: center;
                color: grey;
            }
        </style>

        <table>
            <template repeat="{{ teams in teamsChunks }}">
                <tr>
                    <template repeat="{{ team in teams }}">
                        <td style="text-align: right;">{{ team.tla }}: {{ team.name }}</td>
                        <th style="text-align: left;">{{ team.scores.league }}</th>
                    </template>
                </tr>
            </template>
        </table>

        <sr-last-scored id="last-scored"></sr-last-scored>
    </template>

    <script>
        Polymer({
            comp: null,
            teams: {},
            teamsChunks: [],
            updateTableRequest: undefined,
            compChanged: function() {
                this.comp.stream.addEventListener('team', function(e) {
                    this.teams[e.detail.tla] = e.detail;
                    this.requestTableUpdate();
                }.bind(this));

                this.$['last-scored'].comp = this.comp;
            },
            requestTableUpdate: function() {
                if (this.tableUpdateRequest != undefined) {
                    clearTimeout(this.tableUpdateRequest);
                }

                this.tableUpdateRequest = setTimeout(function() {
                    this.updateTable();
                    this.tableUpdateRequest = undefined;
                }.bind(this), 1000);
            },
            updateTable: function() {
                var teams = [];
                for (var key in this.teams) {
                    teams.push(this.teams[key]);
                }

                teams.sort(function(a, b) {
                    return naturalSort(a.tla, b.tla);
                });

                var teamsChunks = [];

                for (var i = 0; i < teams.length; i += 4) {
                    teamsChunks.push(teams.slice(i, i + 4));
                }

                this.teamsChunks = teamsChunks;
            }
        });
    </script>
</polymer-element>
