<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../natural-sort/component.html" />

<polymer-element name="sr-scores">
    <template>
        <style>
            :host {
                display: block;
                font-size: 1.4em;
            }

            table {
                padding: 1em;
            }

            td, th {
                padding: 0.3em 0.4em;
            }

            #last-scored {
                width: 50%;
                margin: 1em auto 0 auto;
                text-align: center;
                color: grey;
            }
        </style>

        <table>
            <template repeat="{{ teams in teamsChunks }}">
                <tr>
                    <template repeat="{{ team in teams }}">
                        <td style="text-align: right;">{{ team.tla}}: {{ team.name }}</td>
                        <th style="text-align: left;">{{ team.league_points }}</th>
                    </template>
                </tr>
            </template>
        </table>

        <sr-last-scored id="last-scored"></sr-last-scored>
    </template>

    <script>
        Polymer({
            comp: null,
            leaderboard: {},
            teamsChunks: [],
            compChanged: function() {
                this.comp.stream.addEventListener('team', function(e) {
                    this.leaderboard[e.detail.tla] = e.detail;

                    var teams = [];
                    for (var key in this.leaderboard) {
                        teams.push(this.leaderboard[key]);
                    }

                    teams.sort(function(a, b) {
                        return naturalSort(a.tla, b.tla);
                    });

                    var teamsChunks = [];

                    for (var i = 0; i < teams.length; i += 4) {
                        teamsChunks.push(teams.slice(i, i + 4));
                    }

                    this.teamsChunks = teamsChunks;

                    this.$['last-scored'].comp = this.comp;
                }.bind(this));
            }
        });
    </script>
</polymer-element>
