@font-face {
    font-family: Carlito;
    font-weight: normal;
    src: url("../fonts/Carlito-Regular.ttf");
}

@font-face {
    font-family: Carlito;
    font-weight: bold;
    src: url("../fonts/Carlito-Bold.ttf");
}

html, body {
    height: 100%;
}

body {
    font-family: "Carlito", "Noto Sans", sans-serif;
    background: black;
    color: white;
    font-size: 2vw;  /* these are on displays so the font should be big */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: inherit;
}

[hidden] {
    display: none !important;
}
